@media screen and (max-width: 1450px) {
  .main-container {
    padding: 0 var(--pg-mob);
  }

  .about__card-box {
    padding-top: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .about__card {
    min-width: 100%;
  }

  .card__text {
    text-align: center;
  }

  .about__card-animation:nth-child(even) {
    animation-name: mob-anim-right;
    animation-duration: var(--animation-time);
    animation-fill-mode: both;
  }

  .about__card-animation:nth-child(odd) {
    animation-name: mob-anim-left;
    animation-duration: var(--animation-time);
    animation-fill-mode: both;
  }

  .history__container {
    flex-direction: column;
    align-items: center;
  }

  .history__text-inner {
    padding-top: 0;
  }
  .product__container {
    flex-direction: column;
    gap: 150px;
  }

  .product__img-inner {
    min-width: 33.2vw;
  }
}

@media screen and (max-width: 1150px) {
  .nav__container {
    padding-top: var(--pg-mob);
    padding-bottom: var(--pg-mob);
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__wrapper-title {
    flex-wrap: wrap;
  }

  .about__title {
    text-wrap: wrap;
    min-width: auto;
  }

  .history__container {
    padding: 0 var(--pg-mob);
  }
}

@media screen and (max-width: 750px) {
  .nav__wrapper-btn {
    order: -1;
  }

  .header__logo {
    order: -2;
  }

  .nav__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card__title::before {
    left: 50%;
    transform: translateX(-50%);
  }

}